@media screen and (min-width: 325px) and (max-width: 933px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alert-info {
        background: cyan;
        width: 90vw;
        height: 4em;
        border: solid 1px grey;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links > li {
        list-style-type: none;
        background: lightgray;
        width: 90vw;
        height: 4em;
        margin-bottom: 10px;
        text-decoration: underline;
        color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul.nav-links {
        padding: 0;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    .alert-info a {
        color: black;
        text-decoration: none;
    }
}

/* code for desktop display*/

@media screen and (min-width: 934px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alert-info.hidden-on-desktop {
        visibility: hidden;
    }
    .nav-items {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul.nav-links {
        padding: 0;
    }
    .nav-links > li {
        list-style-type: none;
        text-decoration: underline;
        color: blue;
        display: inline-block;
        margin: 0 5px;
        justify-content: space-evenly;
        align-items: center;
    }
    h1 {
        font-size: 50px;
        margin: 0;
    }

    img {
        margin: 20px 0;
    }

    .sections {
        display: flex;
        justify-content: space-between;
    }
    .main {
        width: 60%;
        padding: 0 5px;

    }
    .main > p {
        flex-wrap: nowrap;

    }
    .sub-section {
        width: 40%;
        padding: 0 5px;

    }
    .sub-section {
        flex-wrap: nowrap;
    }
}







