@media screen and (min-width: 325px) {
    body {
   display: flex;
    flex-direction: column;
    justify-content: center;
    }
}
.alert-info {
    background: cyan;
    /*width: 20em;*/
    height: 4em;
    border: solid 1px grey;
    margin-bottom: 5px;
    display: flex;
}

.nav-links > li {
    list-style-type: none;
    background: lightgray;
    /*width: 20em;*/
    height: 4em;
    margin-bottom: 10px;
    text-decoration: underline;
    color: blue;
    display: flex;
}
ul.nav-links {
    padding: 0;
}
